form p {
    position: relative;
    margin: 0;
}

.login-page form p {
    margin-bottom: 2rem;
}

nav a.button-collapse {
    display: block!important;
}

.main-content {
    height: calc(100vh - 247px - 64px)
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 1px);
}


.login-form-wrapper {
    display: inline-block;
    padding:1rem;
    border: 1px solid #EEE;
    width: 45%;
    min-width: 300px;
    max-width: 550px;
}

input, textarea{
    background: white!important;
    border-radius: 5px;
    border: none;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 300px;
}

.logo img {
    width: 100%;
}

.input-field label {
    top: -10px;
    left: 0!important;
    font-size: 1.5rem;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}


.button-collapse {
        height: 41px!important;
    top: 13px;
}

.button-collapse i {
    margin-top: -12px;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.edit-info {
        position: absolute;
    /* right: 0; */
    top: 8px;
    right: 10px;
}

.brand-logo {
    padding: .5rem!important;
    border-radius: 6px;
    box-shadow: 1px 1px 3px #aaa;
    margin-top: -2rem;
    height: 102px;
}


.brand-logo span {
        top: 1.8rem;
    position: relative;
}


.brand-logo .logo {
    width: 139px;
    padding: 1rem;
    text-align: center;
}

.brand-logo img {
        width: 60%;
    margin-top: 9px;
}


.collection-header.blue {
    color: white;
}
