form p {
    position: relative;
    margin: 0;
}

.login-page form p {
    margin-bottom: 2rem;
}

nav a.button-collapse {
    display: block!important;
}

.main-content {
    height: calc(100vh - 247px - 64px)
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 1px);
}


.login-form-wrapper {
    display: inline-block;
    padding:1rem;
    border: 1px solid #EEE;
    width: 45%;
    min-width: 300px;
    max-width: 550px;
}

input, textarea{
    background: white!important;
    border-radius: 5px;
    border: none;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 300px;
}

.logo img {
    width: 100%;
}

.input-field label {
    top: -10px;
    left: 0!important;
    font-size: 1.5rem;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}


.button-collapse {
        height: 41px!important;
    top: 13px;
}

.button-collapse i {
    margin-top: -12px;
}
