<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
    <script src="/static/lib/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/lib/materialize.css">
    <script src="/static/lib/materialize.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<div class="header">
 <div class="navbar">
    <nav class="blue lighten-1">
      <div class="nav-wrapper container">
        <a href="#!" class="brand-logo">Medical App</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

<div class="main-content container">
    {% block content %}{% endblock %}
</div>
<div class="footer">
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}
</div>
    <script type="text/javascript" src="/static/main.js"></script>
</body>
{% block scripts %}{% endblock %}
</html>
