<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script src="static/lib/jquery.min.js"></script>
    <link rel="stylesheet" href="static/lib/materialize.css">
    <script src="static/lib/materialize.js"></script>
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>
<body>
<div class="login-page container">
        <div class="z-depth-1 row login-form-wrapper">
          <form autocomplete="nofill" class="col s12" method="POST">
            <div class='logo-wrapper'>
              <div class='logo'>
                <img src="static/img/medap.svg">
              </div>
            </div>
            <div class='row'>
              <div class='input-field col s12'>
                 {% csrf_token %}
                 {{ form.as_p }}
                 {{ error_message }}
              </div>
            </div>
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect blue lighten-1
'>Login</button>
              </div>
            </center>
          </form>
        </div>
      </div>
</body>
</html>
